body{
    font-family: Arial;
}

ul{
    list-style: none;
}

a{
    color: #0f0f0f;
}

h1{
    font-weight: 600;
}

.square{
    width: 50px;
    height: 50px;
}

.square--even{
    background-color: #259d00;
}

.square--odd{
    background-color: #9a0066;
}